In [1]:
import pandas as pd

In [2]:
X = pd.read_csv('X_test_1.csv')

In [3]:
from joblib import load

In [4]:
model = load(filename='e_net_4.joblib')

In [5]:
y_preds = model.predict(X)

In [6]:
submis = pd.read_csv('submission.csv')

In [7]:
submis.head()

     Id      SalePrice
0  1461  169277.052498
1  1462  187758.393989
2  1463  183583.683570
3  1464  179317.477511
4  1465  150730.079977

In [8]:
submis.drop('SalePrice',axis=1,inplace=True)

In [9]:
saleprice = pd.DataFrame(y_preds, columns=['SalePrice'])

In [10]:
final = pd.concat([submis,saleprice],axis=1)

In [11]:
final.head()

     Id      SalePrice
0  1461  104448.545725
1  1462  161865.921827
2  1463  178471.947555
3  1464  182808.278855
4  1465  219424.032189

In [12]:
final.shape

(1459, 2)

In [13]:
final.to_csv('Submission_file_1.csv',index=False)